<div class="page-content page-container" id="page-content">
  <div class="padding d-flex justify-content-center" >
    <div class=" container d-flex justify-content-center">
      <div class="col-lg-10  col-md-12">
        <div class="card user-card-full">
          <div class="row">
            <div class="col-sm-4 col-lg-3 bg-c-lite-green user-profile">
              <div class="card-block text-center text-white">
                <div class="m-b-25 d-flex justify-content-center">
                  <span class="image" style="">
                    <p class="" style="font-size: 46px;margin: auto; color: #0c0c0c;font-weight: 600" >A</p>
                  </span>
                </div>
                <h6 class="f-w-600">{{authservice.username}}</h6>


                <i class=" mdi mdi-square-edit-outline feather icon-edit m-t-10 f-16"></i>
              </div>
            </div>
            <div class="col-sm-8 col-lg-7">
              <div class="card-block">
                <!--                Profile USER-->
                <div class="" >


                  <h6 class="m-b-20 p-b-5 b-b-default f-w-600">Information personle</h6>
                  <div class="row" >
                    <div class="col-sm-6">
                      <p class="m-b-10 f-w-600" >Last Name</p>
                      <h6 class="text-muted f-w-400">{{authservice.username}}</h6>
                    </div>
                    <div class="col-sm-6">
                      <p class="m-b-10 f-w-600">First Name</p>
                      <h6 class="text-muted f-w-400">abdelilah</h6>
                    </div>
                  </div>
                  <div class="row" >
                    <div class="col-sm-6" >
                      <p class="m-b-10 f-w-600">CIN</p>
                      <h6 class="text-muted f-w-400">EE938490</h6>
                    </div>
                    <div class="col-sm-6">
                      <p class="m-b-10 f-w-600">UserName</p>
                      <h6 class="text-muted f-w-400">abdelilah;erraguibi</h6>
                    </div>
                  </div>
                  <h6 class="m-b-20 p-b-5 b-b-default f-w-600" >Information de Comminication</h6>
                  <div class="row">
                    <div class="col-sm-6">
                      <p class="m-b-10 f-w-600">Email</p>
                      <h6 class="text-muted f-w-400">abdelislsls</h6>
                    </div>
                    <div class="col-sm-6">
                      <p class="m-b-10 f-w-600">Phone</p>
                      <h6 class="text-muted f-w-400">09303990300</h6>
                    </div>
                  </div>
                  <h6 class="m-b-20 p-b-5 b-b-default f-w-600">Information de Paiemment</h6>
                  <div class="row">
                    <div class="col-sm-6">
                      <p class="m-b-10 f-w-600">Rib Banking</p>
                      <h6 class="text-muted f-w-400">makayeneche fe backend</h6>
                    </div>
                    <div class="col-sm-6">
                      <p class="m-b-10 f-w-600">Credit Card Number</p>
                      <h6 class="text-muted f-w-400">makayeneche fe backend</h6>
                    </div>
                  </div>

                </div>
                <!--                Profile Manager_Apt-->

              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>


<!--&lt;!&ndash;??????????????????????????????????????????????????????????????????????????????????????/&ndash;&gt;-->
<!--&lt;!&ndash;&ndash;&gt;-->
<!--&lt;!&ndash;&ndash;&gt;-->


<!--<div *ngIf="authService.isPropraitaire" class="container ">-->
<!--  <header>-->
<!--    <div class="photo">-->
<!--      <img class="" src="./assets/images/profileEz.png" alt="">-->
<!--    </div>-->

<!--    <div class="photo-text">-->
<!--      <h1 class="photo-text-h1">{{authService.dataUtilisateur.nom}}  {{authService.dataUtilisateur.prenom}}</h1>-->
<!--      <button class="photo-text-btn">Edit profile</button>-->
<!--    </div>-->
<!--  </header>-->
<!--  <section>-->
<!--    <div class="sec1">-->
<!--      <div class="sec1-header">-->
<!--        <h1>{{authService.dataUtilisateur.username}}</h1>-->
<!--      </div>-->

<!--      <div class="sec1-body">-->
<!--        <div class="sec1-body-title">-->
<!--          <h1>Informations de basee</h1>-->
<!--          <a href="">Modifier</a>-->
<!--        </div><br>-->

<!--        <p>Assurez-vous que ces informations correspondent à votre pièce d’identité pour le voyage, par exemple votre passeport.</p>-->

<!--        <div class="sec1-body-infos">-->
<!--          <div class="sec1-body-info">-->
<!--            <h4>Nom</h4>-->
<!--            <p>{{authService.dataUtilisateur.nom}}</p>-->
<!--          </div>-->

<!--          <div class="sec1-body-info">-->
<!--            <h4>Prenom</h4>-->
<!--            <p>{{authService.dataUtilisateur.prenom}}</p>-->
<!--          </div>-->
<!--        </div>-->


<!--        &lt;!&ndash;        <div class="sec1-body-infos">&ndash;&gt;-->
<!--        &lt;!&ndash;          <div class="sec1-body-info">&ndash;&gt;-->
<!--        &lt;!&ndash;            <h4>Date de naissance</h4>&ndash;&gt;-->
<!--        &lt;!&ndash;            <p>2003-06-18</p>&ndash;&gt;-->
<!--        &lt;!&ndash;          </div>&ndash;&gt;-->


<!--        &lt;!&ndash;          <div class="sec1-body-info">&ndash;&gt;-->
<!--        &lt;!&ndash;            <h4>Sexe</h4>&ndash;&gt;-->
<!--        &lt;!&ndash;            <p>Homme</p>&ndash;&gt;-->
<!--        &lt;!&ndash;          </div>&ndash;&gt;-->
<!--        &lt;!&ndash;        </div>&ndash;&gt;-->
<!--        <div class="sec1-body-infos">-->
<!--          <div class="sec1-body-info">-->
<!--            <h4>rip</h4>-->
<!--            <p>{{authService.dataUtilisateur.ribPropAppt}}</p>-->
<!--          </div>-->


<!--          <div class="sec1-body-info">-->
<!--            <h4>num compte</h4>-->
<!--            <p>{{authService.dataUtilisateur.numCompteBkPropApp}}</p>-->
<!--          </div>-->

<!--        </div>-->

<!--        &lt;!&ndash;        <div class="sec1-body-infos">&ndash;&gt;-->
<!--        &lt;!&ndash;          <div class="sec1-body-info">&ndash;&gt;-->
<!--        &lt;!&ndash;            <h4>Besoins d’accessibilité</h4>&ndash;&gt;-->
<!--        &lt;!&ndash;            <p>Non précisés</p>&ndash;&gt;-->
<!--        &lt;!&ndash;          </div>&ndash;&gt;-->
<!--        &lt;!&ndash;        </div>&ndash;&gt;-->
<!--      </div>-->
<!--      <hr>-->
<!--      <div class="sec1-body mt-3">-->
<!--        <div class="sec1-body-title">-->
<!--          <h1>Contact</h1>-->
<!--          <a href="">Modifier</a>-->
<!--        </div>-->
<!--        <br>-->
<!--        <p>Partagez ces informations pour recevoir des mises à jour de voyages et des alertes liées à l’activité de votre compte..</p>-->

<!--        <div class="sec1-body-infos">-->
<!--          <div class="sec1-body-info">-->
<!--            <h4>Numéro de téléphone portable</h4>-->
<!--            <p>{{authService.dataUtilisateur.numTele}}</p>-->
<!--          </div>-->

<!--          <div class="sec1-body-info">-->
<!--            <h4>Adresse e-mail</h4>-->
<!--            <p>{{authService.dataUtilisateur.email}}</p>-->
<!--          </div>-->
<!--        </div>-->

<!--        <div class="sec1-body-infos">-->
<!--          <div class="sec1-body-info">-->
<!--            <h4>Contact en cas d’urgence</h4>-->
<!--            <p>{{authService.dataUtilisateur.email}}</p>-->
<!--          </div>-->

<!--          <div class="sec1-body-info">-->
<!--            <h4>Adresse</h4>-->
<!--            <p>Marraekch </p>-->
<!--          </div>-->

<!--        </div>-->
<!--      </div>-->
<!--    </div>-->
<!--  </section>-->
<!--</div>-->


<!--<div *ngIf="authService.isUser" class="container ">-->
<!--  <header>-->
<!--    <div class="photo">-->
<!--      <img class="" src="./assets/images/profileEz.png" alt="">-->
<!--    </div>-->


<!--    <div class="photo-text">-->
<!--      <h1 class="photo-text-h1">{{authService.dataUtilisateur.nom}}  {{authService.dataUtilisateur.prenom}}</h1>-->
<!--      <button class="photo-text-btn">Edit profile</button>-->
<!--    </div>-->
<!--  </header>-->

<!--  <section>-->
<!--    <div class="sec1">-->
<!--      <div class="sec1-header">-->
<!--        <h1>{{authService.dataUtilisateur.username_Client}}</h1>-->
<!--      </div>-->

<!--      <div class="sec1-body">-->
<!--        <div class="sec1-body-title">-->
<!--          <h1>Informations de basee</h1>-->
<!--          <a href="">Modifier</a>-->
<!--        </div><br>-->

<!--        <p>Assurez-vous que ces informations correspondent à votre pièce d’identité pour le voyage, par exemple votre passeport.</p>-->

<!--        <div class="sec1-body-infos">-->
<!--          <div class="sec1-body-info">-->
<!--            <h4>Nom</h4>-->
<!--            <p>{{authService.dataUtilisateur.nom}}</p>-->
<!--          </div>-->

<!--          <div class="sec1-body-info">-->
<!--            <h4>Prenom</h4>-->
<!--            <p>{{authService.dataUtilisateur.prenom}}</p>-->
<!--          </div>-->
<!--        </div>-->


<!--        &lt;!&ndash;                <div class="sec1-body-infos">&ndash;&gt;-->
<!--        &lt;!&ndash;                  <div class="sec1-body-info">&ndash;&gt;-->
<!--        &lt;!&ndash;                    <h4>CIN</h4>&ndash;&gt;-->
<!--        &lt;!&ndash;                    <p>{{authService.dataUtilisateur.cin}}</p>&ndash;&gt;-->
<!--        &lt;!&ndash;                  </div>&ndash;&gt;-->


<!--        &lt;!&ndash;          <div class="sec1-body-info">&ndash;&gt;-->
<!--        &lt;!&ndash;            <h4>Sexe</h4>&ndash;&gt;-->
<!--        &lt;!&ndash;            <p>Homme</p>&ndash;&gt;-->
<!--        &lt;!&ndash;          </div>&ndash;&gt;-->
<!--        &lt;!&ndash;        </div>&ndash;&gt;-->
<!--        &lt;!&ndash;        <div class="sec1-body-infos">&ndash;&gt;-->
<!--        &lt;!&ndash;          <div class="sec1-body-info">&ndash;&gt;-->
<!--        &lt;!&ndash;            <h4>Besoins d’accessibilité</h4>&ndash;&gt;-->
<!--        &lt;!&ndash;            <p>Non précisés</p>&ndash;&gt;-->
<!--        &lt;!&ndash;          </div>&ndash;&gt;-->
<!--        &lt;!&ndash;        </div>&ndash;&gt;-->
<!--      </div>-->
<!--      <hr>-->
<!--      <div class="sec1-body mt-3">-->
<!--        <div class="sec1-body-title">-->
<!--          <h1>Contact</h1>-->
<!--          <a href="">Modifier</a>-->
<!--        </div>-->
<!--        <br>-->
<!--        <p>Partagez ces informations pour recevoir des mises à jour de voyages et des alertes liées à l’activité de votre compte..</p>-->

<!--        <div class="sec1-body-infos">-->
<!--          <div class="sec1-body-info">-->
<!--            <h4>Numéro de téléphone portable</h4>-->
<!--            <p>{{authService.dataUtilisateur.numTeleClient}}</p>-->
<!--          </div>-->

<!--          <div class="sec1-body-info">-->
<!--            <h4>Adresse e-mail</h4>-->
<!--            <p>{{authService.dataUtilisateur.emailClient}}</p>-->
<!--          </div>-->
<!--        </div>-->

<!--        <div class="sec1-body-infos">-->
<!--          <div class="sec1-body-info">-->
<!--            <h4>Contact en cas d’urgence</h4>-->
<!--            <p>{{authService.dataUtilisateur.email_Client}}</p>-->
<!--          </div>-->

<!--          <div class="sec1-body-info">-->
<!--            <h4>Adresse</h4>-->
<!--            <p>Marraekch </p>-->
<!--          </div>-->

<!--        </div>-->
<!--      </div>-->
<!--    </div>-->
<!--  </section>-->
<!--</div>-->





<!--<div *ngIf="authService.isAgenceLocation" class="container ">-->
<!--  <header>-->
<!--    <div class="photo">-->
<!--      <img class="" src="./assets/images/profileEz.png" alt="">-->
<!--    </div>-->

<!--    <div class="photo-text">-->
<!--      <h1 class="photo-text-h1">{{authService.dataUtilisateur.usernameAgenceLoc}}</h1>-->
<!--      <button class="photo-text-btn">Edit profile</button>-->
<!--    </div>-->
<!--  </header>-->

<!--  <section>-->
<!--    <div class="sec1">-->
<!--      <div class="sec1-header">-->
<!--        <h1>{{authService.dataUtilisateur.username}}</h1>-->
<!--      </div>-->

<!--      <div class="sec1-body">-->
<!--        <div class="sec1-body-title">-->
<!--          <h1>Informations de basee</h1>-->
<!--          <a >Modifier</a>-->
<!--        </div><br>-->

<!--        <p>Assurez-vous que ces informations correspondent à votre pièce d’identité pour le voyage, par exemple votre passeport.</p>-->

<!--        <div class="sec1-body-infos">-->
<!--          <div class="sec1-body-info">-->
<!--            <h4>Nom AgenceLocation</h4>-->
<!--            <p>{{authService.dataUtilisateur.username}}</p>-->
<!--          </div>-->
<!--        </div>-->

<!--      </div>-->
<!--      <hr>-->
<!--      <div class="sec1-body mt-3">-->
<!--        <div class="sec1-body-title">-->
<!--          <h1>Contact</h1>-->
<!--          <a href="">Modifier</a>-->
<!--        </div>-->
<!--        <br>-->
<!--        <p>Partagez ces informations pour recevoir des mises à jour de voyages et des alertes liées à l’activité de votre compte..</p>-->

<!--        <div class="sec1-body-infos">-->
<!--          <div class="sec1-body-info">-->
<!--            <h4>Numéro de téléphone portable</h4>-->
<!--            <p>{{authService.dataUtilisateur.numTelephone}}</p>-->
<!--          </div>-->

<!--          <div class="sec1-body-info">-->
<!--            <h4>Adresse e-mail</h4>-->
<!--            <p>{{authService.dataUtilisateur.raisonSocialAg}}</p>-->
<!--          </div>-->
<!--        </div>-->

<!--        <div class="sec1-body-infos">-->
<!--          <div class="sec1-body-info">-->
<!--            <h4>Contact en cas d’urgence</h4>-->
<!--            <p>{{authService.dataUtilisateur.raisonSocialAg}}</p>-->
<!--          </div>-->

<!--          <div class="sec1-body-info">-->
<!--            <h4>Adresse</h4>-->
<!--            <p>Marraekch </p>-->
<!--          </div>-->

<!--        </div>-->
<!--      </div>-->
<!--    </div>-->
<!--  </section>-->
<!--</div>-->

