@defer (when standAlon) {
<c-row class="mb-3">
    <c-nav class="hstack gap">
        <c-nav-item class="p-2 ms-auto">
            <button cButton color="secondary" variant="outline" routerLink="/redevable" (click)="item = undefined">Cancel</button>
        </c-nav-item>
        <c-nav-item class="p-2">
            <button cButton color="dark" (click)="reset()">
                @if (resetting) {
                <c-spinner aria-hidden="true" size="sm"></c-spinner>
                } @else {
                <svg cIcon name="cilReload"></svg>
                }
                Reset
            </button>
        </c-nav-item>
        <c-nav-item class="p-2">
            <button cButton color="primary" (click)="update()">
                @if (sending) {
                <c-spinner aria-hidden="true" size="sm"></c-spinner>
                } @else {
                <svg cIcon name="cilPen"></svg>
                }
                Update
            </button>
        </c-nav-item>
    </c-nav>
</c-row>
<ng-container *ngTemplateOutlet="createFrom"></ng-container>

}

@defer (when !standAlon) {
<ng-container *ngTemplateOutlet="createFrom"></ng-container>
}

<ng-template #createFrom>
<c-card class="mb-3">
    <c-card-body>
        <c-row class="g-3">
            <c-col sm="4">
                <label cLabel for="cin">Cin</label>
                <input cFormControl id="cin" type="text" placeholder="Cin" [(ngModel)]="item.cin" name="cin" [valid]="validator.cin.valid" (blur)="validator.cin.validate()"/>
                <c-form-feedback [valid]="false">{{ validator.cin.message }}</c-form-feedback>
            </c-col>
            <c-col sm="4">
                <label cLabel for="firstName">FirstName</label>
                <input cFormControl id="firstName" type="text" placeholder="FirstName" [(ngModel)]="item.firstName" name="firstName" [valid]="validator.firstName.valid" (blur)="validator.firstName.validate()"/>
                <c-form-feedback [valid]="false">{{ validator.firstName.message }}</c-form-feedback>
            </c-col>
            <c-col sm="4">
                <label cLabel for="lastName">LastName</label>
                <input cFormControl id="lastName" type="text" placeholder="LastName" [(ngModel)]="item.lastName" name="lastName" [valid]="validator.lastName.valid" (blur)="validator.lastName.validate()"/>
                <c-form-feedback [valid]="false">{{ validator.lastName.message }}</c-form-feedback>
            </c-col>
        </c-row>
    </c-card-body>
</c-card>
</ng-template>

