
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Facture</title>

</head>
<body>
<div class="invoice">
  <div class="header">
    <h1>Facture</h1>
    <p>Date: 12 mai 2024</p>
  </div>
  <div class="details">
    <div class="client-info">
      <h2>Redevable</h2>
      <p>Nom et prénom: John Doe</p>
      <p>Adresse: 123 Rue Principale</p>
      <p>cin: [cin]</p>
    </div>
    <div class="invoice-info">
      <h2>Informations de la facture</h2>
      <p>Numéro de facture: 001</p>
      <p>Trim: 2</p>
      <p>Taxe38: $100</p>
    </div>
  </div>
  <div class="items">
    <h2>Locale</h2>
    <table>
      <tr>
        <th>Locale</th>
        <th>Prix unitaire</th>
        <th>superficie</th>
        <th>ville </th>
        <th>Total</th>
      </tr>
      <tr>
        <td>Article 1</td>
        <td>$50</td>
        <td>2 m²</td>
        <td>2</td>
        <td>$100</td>
      </tr>
    </table>
  </div>
</div>
</body>


